header{
    width:100%;
    background: aquamarine;
    height: 100px;
    background:aquamarine no-repeat 5% 50%;
}
.title{
	font-size: 36px;
	padding-top: 25px;
	text-align: center;
}
.menu{
	list-style: none;
	position: absolute;
	top: 10px;
	right: 120px;
}
.knopki{
    font-size: 15px;
    position: absolute;
    top:10px;
    right: 50px;
    line-height: 22px;
}

table {
    border: 1px solid grey;
    width: 15%;
    height: 15%;
}
th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
 }
 figure{
    position: absolute;
    top:-8px;
    left:-31px;
}
footer{
    font-size: 20px;
    font-weight: bold;
}

@media(min-width:320px){
    .knopki{
        padding-top: 30%;

    }
    
}
